header{


    margin-bottom: 100px ;
    img{
        width: 15rem;
        height: 2.5rem;
    }
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px){
        text-align: center;
        flex-wrap: wrap;
    }

    img{
        width: 695px;
        height: 495px;
        @media (max-width: 768px){
            margin: auto;
            width: 591px;
            height: 417px;
        }

            @media (max-width: 556px){
                margin: auto;
                width: 450px;
                height: 350px;
            }
        }

        &__hero{
            margin-left: 50px;
            width: 40%;
            @media (max-width: 768px){
                width: 100%;
                margin: auto;
                
            }
            
            .button{
                margin-top: 3.125rem;
                // background-color: $color-neutral;
                // width: 200px;
                // height: 50px;
                
                a{
                    color: $color-violet;
                    border-radius: 30px;
                    background-color: $color-neutral;
                    padding: 1.25rem 3.9375rem;

                    &:hover{
                        color: $color-neutral;
                        background-color: $color-Magneta;
                    }
                }
            }
        }


}



