

header{


    margin-bottom: 100px ;
    img{
        width: 30%;
        @media(max-width:768px){
            width: 50%;
        }
        
    }
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;

    @media (max-width: 768px){
        text-align: center;
        flex-wrap: wrap;
    }

    img{
        width: 50%;
        
        @media (max-width: 768px){
            margin: auto;
            width: 90%;
            
        }

    }

        &__text{
            margin-left: 50px;
            width: 40%;
            @media (max-width: 768px){
                width: 100%;
                margin: auto;
                
            }
            
            .button{
                margin: 2rem auto ;
                
                
                input[type=button]{
                    color: $color-violet;
                    text-align: center;
                    border-radius: 30px;
                    background-color: $color-neutral;
                    box-shadow: 0 2px 4px hsl(0, 0%, 43%);
                    padding: 1rem 3.25rem;
                    border: none;
                    

                    &:hover{
                        color: $color-neutral;
                        background-color: $color-Magneta;
                    }

                    @media (max-width: 768px){
                        margin: auto;
                
                    }
                }
            }
        }
    }

.footer{
    margin-top: 20px;
    ul{
        justify-content: flex-end;
        @media (max-width:768px){
            justify-content: center;
        }
        
    }

    li{
        &:not(:first-child){
            margin-left: 30px;
        }
        

    }

    a{
        font-size: 2rem;
        color: $color-neutral;
        &:hover{
            color: $color-Magneta;
        }
        
    }
}



